<%= render "shared/panel" %>

<div data-role="header" data-id="header" data-position="fixed" data-tap-toggle="false">
  <a href="#panel" data-role="button" data-icon="grid">Menu</a>
  <h1>JobSite</h1>
</div><!-- /header -->

<div data-role="content">
  <form method="get" action="/companies/jobs/search">
    <label for="title"><strong>Job Title</strong></label>
    <input type="search" name="title" placeholder="e.g. programmer analyst"/>
    <label for="keywords"><strong>Skills / Keywords</strong></label>
    <input type="search" name="keywords" placeholder="e.g. java"/>
    <label for="location"><strong>Location</strong></label>
    <input type="search" name="location" placeholder="city, state, or zip" />

    <input type="submit" name="submit" id="submit" value="Search" data-role="button" data-theme="a"/>
  </form>
</div>
