<div data-role="header" data-id="header" data-position="fixed" data-tap-toggle="false">
  <a href="" data-role="button" data-icon="back" data-transition="slide" data-rel="back" data-direction="reverse">Results</a>
  <h1>JobSite</h1>
  <a href="" data-role="button">Save</a>
</div><!-- /header -->

<div data-role="content">
  <%= render :partial => 'form' %>
</div>
